.pay-period-total,
.combined-total {
	color: green;
	font-weight: bold;
}

.period-combined-total {
	display: none;
}



/* Bill item  */
.bill-items {
	margin-top: 30px;	
}

.bill-item,
.bill-item .form-control {
	margin-bottom: 10px;
}

.add-bill-item {
	margin-bottom: 10px;
}